<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/2barbasAppWeb/css/formularios.css">
</head>
<body>

<div>

    <form action="infoCot1.php">
        <label for="empEjec">Seleccione la empresa ejecutora</label>
        <select id="empEjec" name="ejecutante">
            <option value="playforthink">Play4Think</option>
            <option value="ate">ATE</option>
            <option value="consult">Consultora</option>
        </select>
<br>
        <label for="empSolic">Empresa solicitante</label>
        <input type="text" id="empSolic" name="firstname">
        <br>
        <label for="lugarEjec">Lugar de ejecución</label>
        <input type="text" id="lugarEjec" name="lastname">
        <br>
        <label for="fechaInic">Fecha de inicio</label>
        <input type="text" id="fechaInic" name="lastname">
        <br>
        <label for="fechaFin">Fecha de finalización</label>
        <input type="text" id="fechaFin" name="lastname">
        <br>


        <input type="submit" value="Generar cotización proyecto"><br>
        <input type="submit" value="Generar cotizacion curso" onclick="window.open('/2barbasAppWeb/view/cotizacion2.html', 'width=800,height=600');">
    </form>
</div>

</body>
</html>
