<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="menu">
    <!-- En "target" ponemos el nombre (name) del iframe -->
    <!-- Cambia "pagina1.html, pagina2.html" etc. por páginas que tengas hechas para ver como funciona -->
    <a href="pagina1.html" target="contenido">enlace uno</a>
    <a href="pagina2.html" target="contenido">enlace dos</a>
    <a href="pagina3.html" target="contenido">enlace tres</a>
</div>
<!-- En "src" ponemos la primera página que se carga en el iframe -->
<iframe id="contenido" name="contenido" src="home.html">
<!-- Aquí puedes poner contenido que se verá si el navegador no acepta iframes -->
</iframe>
<!-- Asígnale estilos con "style" o con CSS igual que si fuera un div: posicion, ancho, alto, borde, etc.  -->
</body>
</html>
