<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AreaVentas</title>
    <link rel="stylesheet" href="/2barbasAppWeb/css/estilo.css">
</head>
<title>Menu Desplegable</title>
<BODY>
<div id="header">
    <ul class="nav">
        <li><a href="home.html">Home</a></li>
        <li><a href="">Ventas</a>
            <ul>
                <li><a href="">Finanzas</a></li>
                <li><a href="">Propuesta Comercial</a></li>
                <li><a href="">Orden de Trabajo</a></li>
                <li><a href="">Orden de Compra</a>
                <li><a href="">Cotizaciones</a>
                    <ul>
                        <li><a href="cotizacion1.html">Ingresar cot. Curso</a></li>
                        <li><a href="">Ingresar cot. Proyecto</a></li>
                        <li><a href="">Modificar cot. Curso</a></li>
                        <li><a href="">Modificar cot. Proyecto</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="">Academia</a>
            <ul>
                <li><a href="">Requerimientos</a></li>
                <li><a href="">Documentos</a></li>
                <li><a href="">Catálogo de Cursos</a></li>
            </ul>
        </li>
        <li><a href="">Administracion</a>
            <ul>
                <li><a href="">Ingresar Usuario</a></li>
                <li><a href="">Modificar Usuario</a></li>
                <li><a href="">Eliminar Usuario</a></li>
            </ul>
        </li>
        <li><a href="">C.E.O</a>
            <ul>
                <li><a href="">Validar Cotizaciones</a></li>
                <li><a href="">Validar Orden de Trabajo</a></li>
                <li><a href="">Validar Solicitud de Ingreso/Egreso</a></li>
                <li><a href="">Validar Ficha Sence</a></li>
                <li><a href="">Planilla Financiera</a>
                    <ul>
                        <li><a href="">Resumen</a></li>
                        <li><a href="">Oficina</a></li>
                        <li><a href="">Otec</a></li>
                        <li><a href="">ATE</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="">Operaciones</a>
            <ul>
                <li><a href="">Orden de Trabajo</a>
                    <ul>
                        <li><a href="">Ingresar OTI</a></li>
                        <li><a href="">Modificar OTI</a></li>
                        <li><a href="">Buscar OTI</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="">Relator</a></li>
    </ul>
</div>
<br/>
<center>
    <img src="../images/oficial_logo.png" alt="Imagen 4barbones">
</center>


<footer>
    <div class='define'>
         <strong>DOS BARBAS Design Thinking | Área Informática © 2017</strong><br/>
    </div>
</footer>
</BODY>
</html>